node_modules
.env
.env.local
.env.*.local
dist
build
.next
out
.DS_Store
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
.cache
*.tsbuildinfo
firebase-debug.log*
firebase-debug.*.log*
.vercel
.now
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-cov
*.cover
*.lcov
.nyc_output
.grunt
bower_components
jspm_packages
.sass-cache
.cache-loader
.nuxt
.astro
.webpack
turbo
dist-ssr
.svelte-kit
.env.test
.env.production
.env.staging
firebase.json
.firebaserc